﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>Поисковик по жалобам</title>
</head>
 
<body>
<form id="searchform" name="searchform" method="post" action="/">
  <p>
    <label for="searchquery">Текст для поиска<br />
    </label>
    <textarea name="searchquery" id="searchquery" width="100%" cols="60" rows="5"></textarea>
  </p>
  <p>
    <input type="submit" name="searchbutton" id="searchbutton" value="Поиск в ЖБП" />
  </p>
</form>
{% if reccount %}
    <p>Текст поиска: <input name="lasttext" class="lasttext" type="text" id="lasttext" value="{{ searchtext }}" readonly="readonly" /></p>
<table width="100%" border="1" cellspacing="0" cellpadding="1">
  <thead>
  <th width="25%" scope="col">Информация о заявителе</th>
    <th width="25%" scope="col">Решение</th>
    <th width="15%" scope="col">Причина</th>
    <th width="15%" scope="col">Протокол</th>
    <th width="5%" scope="col">Похожесть</th>
  </thead>
  {% for entry in entries %}
  <tr>
    <td>{{ entry[1] }}</td>
    <td>{{ entry[2] }}</td>
    <td>{{ entry[3] }}</td>
    <td>{{ entry[4] }}</td>
    <td>{{ entry[5] }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</body>
</html>